dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
finta==1.3
Flask==2.0.2  # Updated Flask version
Flask-Compress==1.10.1
gunicorn==20.1.0
numpy==1.21.3  # Updated numpy version for compatibility with updated pandas
pandas==1.3.3  # Updated pandas version for compatibility with updated numpy
plotly==5.3.1  # Updated plotly version
python-dateutil==2.8.2
scipy==1.7.1  # Updated scipy version
yfinance==0.1.64  # Updated yfinance version
werkzeug==2.0.2  # Updated Werkzeug version
